

<ion-slides #mySlider [options]="mySlideOptions">

  <ion-slide>
      <img src="../assets/photos/8fVoOF.jpeg">
    </ion-slide>
    <ion-slide>
      <img src="../assets/photos/Jio2xY.jpeg">
    </ion-slide>

    <ion-slide>
      <img src="../assets/photos/kvV5ZK.jpeg">
    </ion-slide>
    <ion-slide>
      <img src="../assets/photos/LCrT7F.jpeg">
    </ion-slide>
    <ion-slide>
      <img src="../assets/photos/P9R4gL.jpeg">
    </ion-slide>
    <ion-slide>
      <img src="../assets/photos/psYHAf.jpeg">
    </ion-slide>
    <ion-slide>
      <img src="../assets/photos/Rb8raq.jpeg">
    </ion-slide>

</ion-slides>

<!--
<ion-row  >
  <ion-col>
    <button ion-button full clear color="danger" (click)="deletePhoto()">
      <ion-icon name="trash"></ion-icon>
      <span class="button-text">Delete</span>
    </button>
  </ion-col>
  <ion-col>
    <button ion-button full clear (click)="editPhoto()">
      <ion-icon name="create"></ion-icon>
      <span class="button-text">Edit</span>
    </button>
  </ion-col>
</ion-row>-->
